<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
    <!--Add a registration form here -->
    <form action="{% url 'djangoapp:registration' %}" method="post">
        <div class="container">
            <h1>Create New User</h1>
            <hr>
            <label for="username"><b>User Name</b></label><br>
            <input type="text" placeholder="Enter a username:" name="username" required><br>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter a password:" name="psw" required><br>
            <label for="firstname"><b>First Name</b></label><br>
            <input type="text" placeholder="Enter a first name:" name="firstname" required><br>
            <label for="lastname"><b>Last Name</b></label><br>
            <input type="text" placeholder="Enter a last name:" name="lastname" required><br><br>
            <div>
                {% csrf_token %}
                <button class="button" type="submit">Register</button>
            </div>
        </div>
    </body>
</html>